body, table, tr, td {
    background-color:#000000;
    color: #FFFFFF;
    font-family: monospace, courier;
    font-size: 12px;
}

a {color: white;}

.menu {
    font-family: monospace, courier;
    font-size: 12px;
    f-loat: left;
    display:inline;
}

.general {
    font-family: monospace, courier;
    font-size: 12px;
}

.menu a {color:#00FF00;}
.m-enu a:link {color:#FF0000;}      /* unvisited link */
.m-enu a:visited {color:#00FF00;}  /* visited link */
.m-enu a:hover {color:#FF00FF;}  /* mouse over link */
.m-enu a:active {color:#0000FF;}  /* selected link */ 

.rounded-top {
    border:1px solid;
    border-color: #E01B46;
    width:400px;
    -moz-border-radius-topright: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    background-color: 	#E01B46;
}
.rounded-bottom {
    font-size: 12px;
    border:1px solid;
    border-color: #E01B46;
    padding:5px; 
    width:390px; 
    -moz-border-radius-bottomright: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-left-radius: 10px;
}

.rounded-bottom a {
    color:white;
}

.input {
    font-family:courier;
    font-size:12px;
}


.box-title {
    border-bottom:1px solid;
    b.order-color: #E01B46;
    border-color: #FF0000;
    padding:5px; 
    width:390px; 
    -m.oz-border-radius-bottomright: 10px;
    b.order-bottom-right-radius: 10px;
    -m.oz-border-radius-bottomleft: 10px;
    b.order-bottom-left-radius: 10px;
}

.box-msg {
    padding:5px; 
    width:390px; 
}

.module {
    font-size: 90%;
    b-ackground-color:#FFF;
    background-color:#090909
    b-order:1px solid;
    b-order-color: #CCC;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border:1px solid;
    border-color:#E01B46;
}

.module-content {
    font-size: 100%;
    background-color:#000;
    height:200px;
    width:100%;
    border:1px dashed;
    border-color: #FFF;
    color: #FFF;
    padding-left: 5px;
}

.module-font {
    font-family: courier;
    font-size: 100%;
}